@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-open-sans: "Open Sans", sans-serif;

  /* Colors */
  --color-primary: #3949ab;
  --color-primary-light: #6f74dd;
  --color-destructive: #d73131;
  --color-warning: #f0b212;
  --color-warning-light: #fff5dd;

  --color-neutral-50: #f3f4f9;
  --color-neutral-100: #f6f7fa;
  --color-neutral-200: #d0d0d0;
  --color-neutral-300: #e6e9fa;
  --color-neutral-400: #828282;
  --color-neutral-600: #9ea1ae;
  --color-neutral-700: #343434;
  --color-neutral-800: #222222;
  --color-neutral-900: #090d20;
  --color-neutral-950: #1a1b1f80;
}
